/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* logo */

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-text {
  color: #000000;
}

.list {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts-nav */

.contacts-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

button {
  font-family: inherit;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
}

/* section */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* features */

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* staff */

.staff {
  background-color: #f5f4fa;
}

.staff-list .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.staff-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */

footer {
  background-color: #2f303a;
}

footer span {
  color: #ffffff;
}

footer .address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

footer .mail,
footer .phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

/* Portfolio */

/* filter list */

.filter-list .option {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-style: none;
}

.filter-list .option:hover,
.filter-list .option:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* works list */

.works-list a {
  text-decoration: none;
}

.works-list .works {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
