/* вторичный цвет текста #212121 */
/* основной цвет текста #757575 */
/* цвет адреса в футере #FFFFFF */
/* цвет мейла и телефона в футере rgba(255, 255, 255, 0.6) */
/*  */
/* акцент #2196F3 */
/* основной бэк #FFFFFF */
/* бэк хедера #FFFFFF */
/* бэк героя #2F303A */
/* бэк наша команда #F5F4FA */
/* бэк футера #2F303A */
body {
  background-color: #ffffff;
  color: #757575;
}

.logo {
  color: #2196f3;
}

.list {
  list-style: none;
}

/* site nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* section */
.section-title {
  color: #212121;
}
