/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* logo */

.logo {
  color: var(--accent-color);
}

.logo-text {
  color: #000000;
}

.list {
  list-style: none;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts-nav */

.contacts-nav .link {
  color: var(--primary-text-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
}

/* button */

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* section */

.section-title {
  color: var(--title-text-color);
}

/* features */

.feature-list .title {
  color: var(--title-text-color);
}

/* staff */

.staff {
  background-color: #f5f4fa;
}

.staff-list .name {
  color: var(--title-text-color);
}

/* footer */

footer {
  background-color: #2f303a;
}

footer span {
  color: #ffffff;
}

footer .address {
  color: var(--primary-white-color);
}

footer .mail,
footer .phone {
  color: rgba(255, 255, 255, 0.6);
}
